<% layout('layouts/boilerplate')%>
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Welcome to my Portfolio page!</h1>
            <p class="lead my-3">Feel free to explore my portfolio. I do my best to keep each project maintained and
                upto date. If you'd like to discuss my any projects further feel free to reach out on my <a
                    href="/contact" class="link-light">Contact</a> page.</p>
        </div>
    </div>

<div class="container mt-5">
    <div class="row">

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>
        

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card">
                <img src="..." class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Live Site</a>
                    <a href="#" class="btn btn-secondary">Sorce Code</a>
                </div>
            </div>
        </div>

        <!-- Add more card items here as needed -->
    </div>
</div>
