<% layout('layouts/boilerplate')%>
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Welcome to my Portfolio page!</h1>
            <p class="lead my-3">Feel free to explore my portfolio. I do my best to keep each project maintained and
                up to date. If you'd like to discuss any projects further, feel free to reach out on my <a
                    href="/contact" class="link-light">contact</a> page.</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4 text-center d-flex ">
                <div class="card">
                    <a href="/"><img src="portfolio.png" class="card-img-top img-fluid" alt="Image of my portfolio"></a>
                    <div class="card-body">
                        <h5 class="card-title">My portfolio website</h5>
                        <p class="card-text">This is the website you are currently on! I built it using bootstrap5,
                            express, and a lot of love.</p>
                        <a href="/" class="btn btn-primary">Live Site</a>
                        <a href="https://github.com/IronWalrus68/CameronJacksonPortfolio/tree/main"
                            class="btn btn-secondary">source Code</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4 text-center d-flex ">
                <div class="card">
                    <a href="https://yelpcamp-pze5.onrender.com/"><img src="yelpCamp.png" class="card-img-top img-fluid" alt="Image of yelp Camp project"></a>
                    <div class="card-body">
                        <h5 class="card-title">Yelp camp</h5>
                    <p class="card-text">(Loads very slowly) Yelp Camp is the main project from the course <a
                                href="https://www.udemy.com/course/the-web-developer-bootcamp/">The Web Developer
                                Bootcamp</a>. This is a full-stack web application with full CRUD functionality. It also
                            stores all user data and images in separate databases not owned by me.</p>
                        <a href="https://yelpcamp-pze5.onrender.com/" class="btn btn-primary">Live Site</a>
                        <a href="https://github.com/IronWalrus68/yelpCamp"
                            class="btn btn-secondary">source Code</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 text-center d-flex ">
                <div class="card">
                    <a href="http://triplewalrus.cameronmatthewjackson.uk/"><img src="triplewalrus.png" class="card-img-top img-fluid" alt="Image of triple walrus slot machine game"></a>
                    <div class="card-body">
                        <h5 class="card-title">Triple Walrus (Front end only)</h5>
                        <p class="card-text">This is the slot machine app I made. This is the third iteration of the app. This version of the app is functional, but there are no backend components, such as a database or sign-in functionality.</p>
                        <a href="http://triplewalrus.cameronmatthewjackson.uk/" class="btn btn-primary">Live Site</a>
                        <a href="https://github.com/IronWalrus68/triple-walrus-3.0" class="btn btn-secondary">source Code</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 text-center d-flex ">
                <div class="card">
                    <a href="https://github.com/IronWalrus68/PixelPalsBot"><img src="Pixel_Pals_icon.png" class="card-img-top img-fluid" alt="example img"></a>
                    <div class="card-body">
                        <h5 class="card-title">PixelPalsBot</h5>
                        <p class="card-text">This is the bot for my discord/minecraft server. The purpose of this bot is to take players usernames from my discord server and add them to the white list of my minecraft server. I build this bot using discordJS and node.</p>
                        <a href="" class="btn btn-primary disabled">Live Site</a>
                        <a href="https://github.com/IronWalrus68/PixelPalsBot" class="btn btn-secondary">source Code</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 text-center d-flex ">
                <div class="card">
                    <a href="https://1drv.ms/x/s!AtITngfeTANZzX1FAGtlynGqC2BP?e=GoTLYU"><img src="morning_brief.png" class="card-img-top img-fluid" alt="example img"></a>
                    <div class="card-body">
                        <h5 class="card-title">Morning Brief</h5>
                        <p class="card-text">I made this datasheet while working for a local hotel. The purpose of this datasheet is to let management see important information from the previous day and for the coming day. As far as I'm aware a custom version of this sheet is still used. This datasheet is designed to be sleek, simple and easy to understand. This datasheet turned an hour long job into a 20 minute task.</p>
                        <a href="https://1drv.ms/x/s!AtITngfeTANZzX1FAGtlynGqC2BP?e=GoTLYU" class="btn btn-primary">Live App</a>
                        <a href="" class="btn btn-secondary disabled">source Code</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 text-center d-flex ">
                <div class="card">
                    <a href=""><img src="CameronCantCount.png" class="card-img-top img-fluid" alt="example img"></a>
                    <div class="card-body">
                        <h5 class="card-title">Cameron Can't Count</h5>
                        <p class="card-text">This is a datasheet I made to help accurately count up floats and format them for use with our drop safe. The concept is to create a sheet that will let you quickly count money based on stacks of coins are sealed bags. This way you can accurately count coins based on small stacks of physical coins. If this is something you think you would find useful please feel free to make a copy of this sheet.</p>
                        <a href="https://1drv.ms/x/s!AtITngfeTANZzgNR9sBIjBtHjVzG?e=06Lsw8" class="btn btn-primary">Live App</a>
                        <a href="" class="btn btn-secondary disabled">source Code</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 mb-4 text-center d-flex ">
                <div class="card">
                    <a href=""><img src="" class="card-img-top img-fluid" alt="example img"></a>
                    <div class="card-body">
                        <h5 class="card-title">This is where the title will go</h5>
                        <p class="card-text">This Is where the body will go</p>
                        <a href="" class="btn btn-primary">Live Site</a>
                        <a href="" class="btn btn-secondary">source Code</a>
                    </div>
                </div>
            </div> -->

            <!-- Add more card items here as needed -->
        </div>
    </div>